.nav_container {
  margin: 0;
  padding: 0;
  .sidenav_left {
    width: 128px;
    max-width: 200px;
    background-color: #64ffda;
    z-index: 9;
    text-align: center;

    .navlist_item {
      a {
        font-family: 'Pacifico', cursive;
        color: #62626a;
        mat-icon {
          color: #62626a;
          margin-right: 8px
        }
      }
    }

    .logo {
      width: 64px;
      height: auto;
      margin: auto;
    }

  }
  .content {
    height: 100%;
    background-color: #ffffff;
    color: #62626a;
    padding: 16px;
  }
}
