<mat-sidenav-container class="container">
  <mat-sidenav class="sidenav-left" mode="side" opened fixedInViewport="true" fixedTopGap="64" fixedBottomGap="130">
    <mat-nav-list class="navlist-item">
      <a mat-list-item routerLink="/">
        <mat-icon>home</mat-icon>
      </a>
      <a mat-list-item routerLink="/">
        <mat-icon>info</mat-icon>
      </a>
      <a mat-list-item routerLink="/">
        <mat-icon>contact_mail</mat-icon>
      </a>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>
