.container {
  .sidenav-left {
    background-color: #64FFDA;
    z-index: 9;
    mat-icon {color: #62626a;}
  }
  .content {
    height: 100%;
    background-color: #ffffff;
    color: #62626a;
    padding: 16px;
  }

}
