
// Custom Theming for Angular Material
@use '@angular/material' as mat;
@include mat.core();


// $angular13-poc-primary: mat.define-palette(mat.$indigo-palette);
// $angular13-poc-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$angular13-poc-primary: mat.define-palette(mat.$teal-palette, A200, A400);
$angular13-poc-accent: mat.define-palette(mat.$pink-palette, A400);
$angular13-poc-warn: mat.define-palette(mat.$red-palette);

$angular13-poc-theme: mat.define-light-theme((
  color: (
    primary: $angular13-poc-primary,
    accent: $angular13-poc-accent,
    warn: $angular13-poc-warn,
  )
));


@include mat.all-component-themes($angular13-poc-theme);

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import '~material-design-icons/iconfont/material-icons.css';

html, body { height: 100%;}
body { margin: 0; font-family: 'Open Sans', sans-serif;}

.font_trends {
  font-family: 'Pacifico', cursive;
  font-size: 22px;
  color: #62626a;
}

.snack-bar-success {
  background-color: #0e0f0f;
  color: #fff;
  font-weight: 800;
}
.container_vertical_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  padding: 8px;
}

.container_horizontal_wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  padding: 8px;
}

.clean_container {
  box-shadow: none!important;
  border: none!important;
  background: transparent !important;
  border-radius: 0 !important;
}
.padding_8px {padding: 8px}
.padding_16px {padding: 16px}
.padding_24px {padding: 24px}
.padding_36px {padding: 36px}

.width_70percent {width: 70% !important}
.width_80percent {width: 80% !important}
.width_100percent {width: 100% !important}

.text-center {text-align: center;}
