.container_table {
  width: 100%;
  margin: 16px;
  table {
    width: 95%;
    border-collapse: collapse;
    border-spacing: 0;

    .mat-header-cell {
      background-color: #64ffda;
      font-weight: bold;
    }
    .table_products .mat-header-cell {
      text-align: center;
    }
    td {
      min-width: 60px;
      text-align: left;
      padding: 6px 10px;
    }
    .table_actions {
      display: flex;
      flex-direction: row;
    }
  }
}

.product_image {
  height: 80px;
  width: auto;
}
