<div class="container_table">
  <table mat-table class="full-width-table" matSort aria-label="Products">
      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
        <td mat-cell *matCellDef="let row">{{row.id}}</td>
      </ng-container>

      <!-- Title Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
        <td mat-cell *matCellDef="let row">{{row.title}}</td>
      </ng-container>


      <!-- Author Column -->
      <ng-container matColumnDef="author">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Author</th>
        <td mat-cell *matCellDef="let row">{{row.author}}</td>
      </ng-container>

      <!-- language Column -->
      <ng-container matColumnDef="language">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Language</th>
        <td mat-cell *matCellDef="let row">{{row.language}}</td>
      </ng-container>

      <!-- url Column -->
      <ng-container matColumnDef="url">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>url</th>
        <td mat-cell *matCellDef="let row">{{row.url}}</td>
      </ng-container>

      <!-- imgCover Column -->
      <ng-container matColumnDef="imgCover">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Cover Image</th>
        <td mat-cell *matCellDef="let row" class="img_cover">{{row.imgCover}}</td>
      </ng-container>

      <!-- price Column -->
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Price</th>
        <td mat-cell *matCellDef="let row">U$ {{row.price}}</td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns" class="header_table"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator #paginator
        [length]="dataSource?.data?.length"
        [pageIndex]="0"
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 20]"
        aria-label="pagination">
    </mat-paginator>

</div>
